
/* iPhone mobil 375px */

/* @media screen and (max-width:400px){

    .menu-item{
        margin: 10px;
        padding: 25px;
        width: 100%;
        height: 0px;
        background-repeat: no-repeat;   
      }

      h2{
        text-align: left;
        margin-left: 15rem;
        margin-top: 25rem;
        font-size: 4rem;
        font-family: Oswald;
        text-transform: uppercase;
        display: flex;
        text-align: left;
        color: #fff;
        
      }

      .p1-headline{
        left: -100%;
      }

      .page .icon {
        position: absolute;
        top: 0;
        bottom: 80%;
        right: 100%;
        left: 10;
        width: 270px;
        height: 170px;
        margin: auto;
        line-height: 1.3;
      }


} */